* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-color-primary: #1b1b32;
  --background-color-secondary: #dba031;
}

body {
  background-color: var(--background-color-primary);
  font-family: "Gilda Display", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

header {
  height: 4rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid var(--background-color-secondary);
}

#logo {
  
  font-family: "Parisienne", cursive;
  font-weight: 500;
  font-style: normal;
  padding-left: 0.5rem;
}

#main-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

#main-menu a {
  border: 0.2px dashed whitesmoke;
  padding: 0 0.3rem;
}

#hero {
  width: 200px;
}