* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-color-primary: #1b1b32;
  --background-color-secondary: #dba031;
}

body {
  background-color: var(--background-color-primary);
  font-family: "Gilda Display", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

a {
  text-decoration: none;
}

a:link,
a:active,
a:visited,
a:hover {
  color: var(--background-color-secondary);
}

.top-nav-menu {
  overflow: hidden;
  position: relative;
  background-color: #333;
  font-size: 1.3rem;

}

#logo {
  font-family: "Parisienne", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  padding: 0 0.5rem;
  width: fit-content;
}

.top-nav-menu #main-menu-items {
  display: none;
  color: var(--background-color-secondary);
}

.top-nav-menu a {
  display: block;
  padding: 0 0.5rem;
}

.top-nav-menu a.main-menu-icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
}

#main-menu-items a {
  border-bottom: 0.1rem solid var(--background-color-secondary);
}

#main-menu-items a:first-of-type {
  border-top: 0.1rem solid var(--background-color-secondary);
}

#main-menu-items a:last-of-type {
  border-bottom: 0.1rem solid var(--background-color-secondary);
}

#hero {
  width: 100vw;
}
