* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-color-primary: #1b1b32;
  --background-color-secondary: #dba031;
}

body {
  background-color: var(--background-color-primary);
  font-family: "Gilda Display", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

a {
  text-decoration: none;
}

a:link,
a:active,
a:visited,
a:hover {
  color: var(--background-color-secondary);
}

.top-nav-container {
  padding: 0.5rem;
}

.menu-icon {
  font-size: 2.5rem;
  padding-left: 0.5rem;
}

.menu-container {
  display: none;
  color: var(--background-color-secondary);
}

.menu-container a {
  display: block;
  padding: 0.5rem;
  border-bottom: 0.1rem solid var(--background-color-secondary);
}

.menu-container a:first-of-type {
  border-top: 0.1rem solid var(--background-color-secondary);
}

.logo {
  font-family: "Parisienne", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--background-color-secondary);
}

#hero {
  width: 100vw;
}

/*Practicing
.main-container {
  border: 1px solid yellow;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  height: 15em;
}

.items {
  background-color: red;
  width: 60vw;
  margin-right: 0.1em;
  margin-bottom: 0.1em;
}

.target-two {
  align-self: stretch;
}
*/
/*My phone screen size is 360px width*/
/*Media queries*/

@media screen and (min-width: 361px) {
  .menu-icon {
    display: none;
  }
  .menu-container {
    display: inline-block;
    text-align: center;
  }
  .menu-container a {
    display: inline-block;
    font-size: 0.69em;
    padding: 0.2rem;
  }
  .menu-container a:first-of-type {
    border-top: none;
  }
}
